html , body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    /* grid secara explicit */
    grid-template-columns: 25% auto 50px;
    grid-template-rows: 50px 100px auto;

    /* untuk mengatur grid secara implicit */
    grid-auto-rows: 30px;
    grid-auto-columns: 30px;
}

.item {
    background-color: rgb(138, 209, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even){
    background-color:salmon;
}