body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 200px;
}

.box1 {
    background-color: aquamarine;
    border-radius: 0 50% 0 50%;
}

.box2 {
    background-color:chartreuse;
    border-radius: 50% 0 50% 50%;
}

.box3 {
    background-color:yellow;
    border-radius: 50% 0 50% 0;
}

.box4 {
    background-color:royalblue;
    border-radius: 100px 100px 0 0;
    height: 100px;
    line-height: 100px;
}

.box5 {
    background-color:seagreen;
    border-radius: 0 0 100px 100px;
    height: 100px;
    line-height: 100px;
}

.box6{
    background-color:purple;
    border-radius: 0 100px 100px 0;
}